#sliderPromocional{
  .btn-outline-secondary{
    &:after{
      z-index: -1;
    }
  }  
}
.btn-outline-secondary{
  position: relative;
  span{
    position: relative;
    z-index: 2;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $secondary;
    z-index: 1;
    transition: height .25s ease;
  }
  &:hover{
    background-color: transparent !important;
    
    &:after{
      height: 100%;
    }
  }
}

.btn-outline-primary-brighter{
  position: relative;
  span{
    position: relative;
    z-index: 2;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $primary-brighter;
    z-index: 1;
    transition: height .25s ease;
  }
  &:hover{
    background-color: transparent !important;
    &:after{
      height: 100%;
    }
  }
}

.btn-outline-white{
  position: relative;
  span{
    position: relative;
    z-index: 2;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $white;
    z-index: 1;
    transition: height .25s ease;
  }
  &:hover{
    background-color: transparent !important;
    &:after{
      height: 100%;
    }
  }
}

.flor{
  right: 25%;
  top: 25%;
}

.gota{
  bottom: 10%;
  left: 25%;
}

.acuarela{
  bottom: 0;
  right: 10%;
}

.fruta-1{
  top: 15%;
  left: 30%;
}
.fruta-2{
  top: 25%;
  right: 30%;
}
.fruta-3{
  bottom: 25%;
  right: 25%;
}

.espaciado-cabecera-landing{
  margin-top: 123px;
}

#fondoLineas{
  background-image: url('../src/img/background-upgrade/BG-lineas.png');
  background-position-y: calc(50% - 80px);
  background-position-x: center;
  background-size: contain;
  background-repeat: repeat-x;
}

.background-font-natura{
  background-image: url('../src/img/background-font-natura/acuarela-background.png');
  background-size: cover;
  background-position: center center;
}

.fresa-bloque-texto{
  transform: translateY(-50%);
  left: 75px !important;
}

.lima-bloque-texto{
  transform: translateY(-50%);
  left: -118px;
}

.lima-bloque-texto-sin{
  top: 50%;
  left: 0;
  z-index: -1;
}
.naranja-bloque-texto-sin{
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateY(50%);
}
.fresa-bloque-texto-sin{
  right: 0;
  top: 0;
}

.background-start-te{
  background-image: url('../src/img/background-te/background_start_te.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.container-fluid-custom .swiper.slider-te:before{
  background: #FFFBEC;
  opacity: 75%;
}

.container-fluid-custom .swiper.slider-zero:before,
.container-fluid-custom .swiper.slider-zero:after{
  opacity: 0;
}

.background-te-imagenes{
  background-image: url('../src/img/background-te/background_te_imagenes.png');
  background-size: cover;
  background-position: center center;
}

.background-zero-frutas{
  background-image: url('../src/img/background-zero/background_zero_frutas.png');
  background-size: cover;
  background-position: center center;
}

.background-col-imagenes-zero{
  background-image: url('../src/img/background-zero/background_col_imagenes_frutas.png');
  background-size: cover;
  background-position: center center;
}

.te-imagenes-bottom{
  bottom: 50px;
  right: 0;
}

.te-imagenes-bottom-left{
  bottom: 200px;
  left: 0;
}

.te-imagenes-top{
  top: 200px;
  left: 0;
}

.te-liquido{
  top: 0;
  transform: translateY(-20%);
  right: 0;
}

.zero-manzana-imagenes{
  top: 0;
  transform: translateY(-25%);
  left: 25px;
}

.zero-limon-imagenes{
  bottom: 0;
  right: 0;
  transform: translateX(25%);
}

.limon-essenzia-top{
  top: 0;
  transform: translateY(calc(-100% + 50px));
}

.menta-essenzia-bottom{
  top: -50px;
  right: 0;
  transform: translateX(50%);
  z-index: 1;
}

.menta-essenzia-top{
  top: 0;
  transform: translateY(calc(-100% - 75px));
  left: 50px;
}

.naranja-essenzia-bottom{
  bottom: -20px;
  right: 0;
}

.limon-agua{
  top: 0;
  right: 0;
}

.manzana-agua{
  left: 0;
  bottom: 0;
}


