#sliderPromocional{
  .btn-outline-secondary{
    &:after{
      z-index: -1;
    }
  }  
}
.btn-outline-secondary{
  position: relative;
  span{
    position: relative;
    z-index: 2;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $secondary;
    z-index: 1;
    transition: height .25s ease;
  }
  &:hover{
    background-color: transparent !important;
    
    &:after{
      height: 100%;
    }
  }
}

.btn-outline-primary-brighter{
  position: relative;
  span{
    position: relative;
    z-index: 2;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $primary-brighter;
    z-index: 1;
    transition: height .25s ease;
  }
  &:hover{
    background-color: transparent !important;
    &:after{
      height: 100%;
    }
  }
}

.btn-outline-white{
  position: relative;
  span{
    position: relative;
    z-index: 2;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $white;
    z-index: 1;
    transition: height .25s ease;
  }
  &:hover{
    background-color: transparent !important;
    &:after{
      height: 100%;
    }
  }
}

.flor{
  right: 25%;
  top: 25%;
  @include media-breakpoint-down(xl){
    width: 100px;
  }
}

.gota{
  bottom: 10%;
  left: 25%;
  @include media-breakpoint-down(xl){
    width: 100px;
  }
}

.acuarela{
  bottom: 0;
  right: 10%;
  @include media-breakpoint-down(xl){
    width: 200px;
  }
  @include media-breakpoint-down(md){
    width: 100px;
  }
}

.fruta-1{
  top: 15%;
  left: 30%;
  @include media-breakpoint-down(xl){
    width: 100px;
    left: 25%;
  }
  @include media-breakpoint-down(md){
    width: 50px;
  }
}
.fruta-2{
  top: 25%;
  right: 30%;
  @include media-breakpoint-down(xl){
    width: 100px;
    right: 25%;
  }
  @include media-breakpoint-down(md){
    width: 50px;
  }
}
.fruta-3{
  bottom: 25%;
  right: 25%;
  @include media-breakpoint-down(xl){
    width: 100px;
    right: 20%;
  }
  @include media-breakpoint-down(md){
    width: 50px;
  }
}

.espaciado-cabecera-landing{
  margin-top: 123px;
}

#fondoLineas{
  background-image: url('../src/img/background-upgrade/BG-lineas.png');
  background-position-y: calc(50% - 80px);
  background-position-x: center;
  background-size: contain;
  background-repeat: repeat-x;
  .zi-9{
    width: 100% !important;
  }
}

.background-font-natura{
  background-image: url('../src/img/background-font-natura/acuarela-background.png');
  background-size: cover;
  background-position: center center;
}

.fresa-bloque-texto{
  transform: translateY(-50%);
  left: 75px !important;
}

.lima-bloque-texto{
  transform: translateY(-50%);
  left: -58px;
  width: 180px;
}

.lima-bloque-texto-sin{
  top: 50%;
  left: 0;
  z-index: -1;
  @include media-breakpoint-down(xl){
    left: -50px;
    top: 25%;
  }
}
.naranja-bloque-texto-sin{
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateY(50%);
  @include media-breakpoint-down(xl){
    left: -100px;
    bottom: 20px;
  }
}
.fresa-bloque-texto-sin{
  right: 50px;
  top: 0;
  z-index: 100;
  @include media-breakpoint-down(xl){
    right: -75px;
  }
  @include media-breakpoint-down(md){
    width: 100px;
    right: 0;
    top: -50px;
    z-index: 100;
  }
}

.background-start-te{
  // background-image: url('../src/img/background-te/background_start_te.png');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: left center;
}

// .container-fluid-custom .swiper.slider-te:before{
//   background: #FFFBEC;
//   opacity: 75%;
// }

.container-fluid-custom .swiper.slider-zero:before,
.container-fluid-custom .swiper.slider-zero:after{
  opacity: 0;
}

.background-te-imagenes{
  background-image: url('../src/img/background-te/background_te_imagenes.png');
  background-size: cover;
  background-position: center center;
}

.background-zero-frutas{
  background-image: url('../src/img/background-zero/background_zero_frutas.png');
  background-size: cover;
  background-position: center center;
  @include media-breakpoint-down(xl){
    background-image: none !important;
  }
  .mt-64.mt-xxl-35.mt-xxxl-64.mb-80{
    margin-top: -80px !important;
  }
}

.background-col-imagenes-zero{
  background-image: url('../src/img/background-zero/background_col_imagenes_frutas.png');
  background-size: cover;
  background-position: center center;
}

.te-imagenes-bottom{
  bottom: 50px;
  right: 0;
  @include media-breakpoint-down(md){
    right: -50px;
  }
}

.te-imagenes-bottom-left{
  bottom: 200px;
  left: 0;
  @include media-breakpoint-down(md){
    left: -50px;
  }
}

.te-imagenes-top{
  top: 200px;
  left: 0;
  @include media-breakpoint-down(md){
    left: -50px;
  }
}

.te-liquido{
  top: 0;
  transform: translateY(-20%);
  right: 0;
}

.zero-manzana-imagenes{
  top: 0;
  left: 25px;
  z-index: 100;
  @include media-breakpoint-down(xl){
    left: -50px;
  }
  @include media-breakpoint-down(md){
    top: 350px;
  }
}

.zero-limon-imagenes{
  bottom: 0;
  right: 0;
  transform: translateX(25%);
}

.limon-essenzia-top{
  top: 0;
  transform: translateY(calc(-100% + 50px));
}

.menta-essenzia-bottom{
  top: -50px;
  right: 0;
  transform: translateX(50%);
  z-index: 1;
}

.menta-essenzia-top{
  top: 0;
  transform: translateY(calc(-100% - 75px));
  left: 50px;
}

.naranja-essenzia-bottom{
  bottom: -20px;
  right: 0;
}

.limon-agua{
  top: 0;
  right: 0;
  @include media-breakpoint-down(xl){
    width: 300px;
  }
  @include media-breakpoint-down(md){
    width: 100px;
  }
}

.manzana-agua{
  left: 0;
  bottom: 0;
  @include media-breakpoint-down(xl){
    width: 300px;
  }
  @include media-breakpoint-down(md){
    width: 100px;
  }
}

.bottom-80{
  bottom: 80px;
}

.columna-1.columna-fuente-primavera,
.columna-1.columna-zero{
  > img{
    height: 100%;
    width: auto !important;
    object-fit: cover;
  }
}

.bg-imagen-primavera-botellas{
  @include media-breakpoint-down(md){
    background: $secondary !important;
  }
}

.banner-producto{
  background-size: cover;
}

.ratio-image{
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-producto-menu{
  > a{
    >div:first-child{
      width: 80px;
      height: 120px;
    }
    >div:last-child{
      max-width: 80px;
    }
  }
}

.card-producto-menu-otras{
  > a{
    >div:first-child{
      width: 80px;
      height: 120px;
    }
    >div:last-child{
      max-width: 80px;
    }
  }
}

.container-scale-slider-home{
  
}

.contenedor-cursor-custom{
  &:hover{
    .card-producto-slider-home{
      &:after{
        opacity: 1;
      }
    }
  }
  .card-producto-slider-home{
    position: relative;
    .bg-custom-post{
      z-index: 2;
    }
    &:after{
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../src/img/splash_marcas.png');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      transition: opacity .5s ease;
      z-index: 1;
      mix-blend-mode: multiply;
    }
  }
}

.contenedor-cursor-custom{
  &:hover{
    .ratio.ratio-5x7{
      &:after{
        opacity: 1;
      }
    }
  }
  .ratio.ratio-5x7{
    position: relative;
    .bg-custom-post{
      z-index: 2;
    }
    &:after{
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../src/img/splash_marcas.png');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      transition: opacity .5s ease;
      z-index: 1;
      mix-blend-mode: multiply;
    }
  }
}

.dots-1,
.dots-3,
.dots-4{
  width: 57px;
  @include media-breakpoint-down(xl){
    width: 38px;
  }
  @include media-breakpoint-down(lg){
    width: 57px;
  }
}

.dots-2,
.dots-5{
  width: 112px;
  @include media-breakpoint-down(xl){
    width: 75px;
  }
  @include media-breakpoint-down(lg){
    width: 112px;
  }
}

.dots-2{
  margin-right: 12px;
  @include media-breakpoint-up(lg){
    margin-right: 24px;
    margin-top: 24px;
  }
  @include media-breakpoint-up(xl){
    margin-right: 12px;
  }
}
.dots-1{
  margin-top: 0px;
  margin-right: 12px;
  @include media-breakpoint-up(lg){
    margin-top: 78px;
  }
}

.dots-3{
  margin-left: 24px;
  @include media-breakpoint-up(lg){
    margin-left: 0;
  }
}

.dots-5{
  margin-top: -24px;
  @include media-breakpoint-down(md){
    margin-left: 48px;
  }
}

.burbuja-1{
  margin-top: -78px;
  margin-right: 32px; 

  @include media-breakpoint-up(lg){
    margin-top: -48px;
    margin-left: 48px;
    margin-right: 124px;
    animation-duration: 5s;
    animation-name: burbuja-down;
    animation-iteration-count: infinite;
  } 
  @include media-breakpoint-down(lg){
    width: auto;
    animation-duration: 5s;
    animation-name: burbuja-down;
    animation-iteration-count: infinite;
  }
  @include media-breakpoint-up(xl){
    margin-top: -64px;
    margin-left: 48px;
    margin-right: 124px;
  }  
  @include media-breakpoint-down(xl){
    width: 112px;
  }
  
}

.burbuja-2{
  @include media-breakpoint-down(xl){
    width: 135px;
  }
  @include media-breakpoint-down(lg){
    width: auto;
  }  
  animation-duration: 9s;
  animation-name: burbuja-up;
  animation-iteration-count: infinite;
}

.burbuja-7{
  margin-left: 48px;
  margin-top: -80px;
  @include media-breakpoint-up(lg){
    margin-left: 80px;
    margin-top: -72px;
    margin-right: 12px;
  }
  @include media-breakpoint-up(xl){
    margin-top: -32px;
  }
  @include media-breakpoint-down(xl){
    width: 151px;
  }
  @include media-breakpoint-down(lg){
    width: auto;
  }  
  animation-duration: 11s;
  animation-name: burbuja-down;
  animation-iteration-count: infinite;
}

.burbuja-3{
  margin-top: 24px;
  @include media-breakpoint-up(lg){
    margin-top: -48px;
    margin-left: 12px;
    animation-duration: 7s;
    animation-name: burbuja-down;
    animation-iteration-count: infinite;
  }
  @include media-breakpoint-up(xl){
    margin-top: -48px;
    margin-left: 48px;
  }
  @include media-breakpoint-up(xxl){
    margin-top: -48px;
    margin-left: 12px;
  }
  @include media-breakpoint-down(xl){
    width: 53px;
  }
  @include media-breakpoint-down(lg){
    width: auto;
    animation-duration: 7s;
    animation-name: burbuja-up;
    animation-iteration-count: infinite;
  }  
}

.burbuja-5{
  @include media-breakpoint-up(lg){
    margin-top: -32px;
    margin-left: 24px;
    animation-duration: 9s;
    animation-name: burbuja-down;
    animation-iteration-count: infinite;
  }
  @include media-breakpoint-down(xl){
    width: 66px;
  }
  @include media-breakpoint-down(lg){
    width: auto;
  }  
  @include media-breakpoint-down(md){
    margin-left: 12px;
  }  
}

.burbuja-4{
  margin-left: 175px;
  margin-right: 12px;
  @include media-breakpoint-up(lg){
    margin-left: 64px;
    margin-bottom: -48px;
    animation-duration: 7s;
    animation-name: burbuja-up;
    animation-iteration-count: infinite;
  } 
  @include media-breakpoint-down(xl){
    width: 53px;
  }
  @include media-breakpoint-down(lg){
    margin-left: 175px;
    margin-right: 12px;
    width: auto;
    animation-duration: 7s;
    animation-name: burbuja-down;
    animation-iteration-count: infinite;
  } 
  @include media-breakpoint-down(md){
    margin-left: 0;
    margin-right: 12px;
  }
}

.dots-4{
  margin-left: 8px;
}

.burbuja-6{
  margin-left: 72px;
  @include media-breakpoint-up(lg){
    margin-left: 12px;
    margin-top: 24px;
    animation-duration: 5s;
    animation-name: burbuja-up;
    animation-iteration-count: infinite;
  }
  @include media-breakpoint-down(xl){
    width: 98px;
  }
  @include media-breakpoint-down(lg){
    width: 170px;
    animation-duration: 5s;
    animation-name: burbuja-down;
    animation-iteration-count: infinite;
  }  
}

@keyframes burbuja-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes burbuja-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0);
  }
}

.bg-banner-botellas{
  @include media-breakpoint-down(xl){
    background-image: url('../src/img/background-primavera/backgroun_tablet_botellas_zoo.jpg') !important;
    background-position-y: bottom !important;
    .col-12.offset-md-1.col-md-10.offset-lg-3.col-lg-6{
      margin-bottom: 300px;
    }
  }
  @include media-breakpoint-down(md){
    &:after{
      content: '';
      position: absolute;
      height: 200px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #BEE0F8;
    }
    background-image: none !important;
    background-color: $secondary;
    .col-12.offset-md-1.col-md-10.offset-lg-3.col-lg-6{
      margin-bottom: 0px;
    }
  }
}


// .row-valores{
//   > div:first-child:after{
//     content: url('../src/img/elipsis-top-left-big.svg');
//     position: absolute;
//     top: 0;
//     left: 0;
//     @include media-breakpoint-down(xl){
//       top: 0;
//       left: -50%;
//     }
//   }
//   > div:last-child:after{
//     content: url('../src/img/elipsis-top-left-big.svg');
//     position: absolute;
//     bottom: -50px;
//     right: -100px;
//   }
//   > div:nth-child(4):after{
//     content: url('../src/img/elipsis-top-left-small.svg');
//     position: absolute;
//     top: 0;
//     left: 35px;
//     @include media-breakpoint-down(xl){
//       top: 0;
//       left: -50%;
//     }
//   }
//   > div:nth-child(3):after{
//     content: url('../src/img/elipsis-top-left-small.svg');
//     position: absolute;
//     top: 0;
//     right: 100px;
//   }
//   > div:nth-child(5):after{
//     content: url('../src/img/elipsis-top-left-small.svg');
//     position: absolute;
//     bottom: -20px;
//     left: 0;
//   }
// }

// .translate-50px{
//   transform: translateY(-50px);
// }
// .translate-25px{
//   transform: translateY(-25px);
// }

