.w-100vw{
    width: 100vw;
}

.h-100vh{
    height: 100vh;
    @include media-breakpoint-up(xxl) {
        max-height: 900px;
    }
}

.filtros_buscador{
    .col{
        @include media-breakpoint-down(sm) {
            max-width: max-content !important;
        }
    }
}

.swiper-home-promocional{
    .col{
        @include media-breakpoint-down(sm) {
            max-width: max-content !important;
        }
    }
}

.swiper-home{
    @include media-breakpoint-down(sm) {
        .bg-custom-image{
            opacity: 0.7;
        }
        .fs-18{
            color: white;
        }
        .fs-64{
            line-height: 1 !important;
            font-size: 49px !important;
            color: white;
        }
    }
}

.swiper-home-promocional{
    @include media-breakpoint-down(lg) {
        .size-full{
            max-height: 300px;
            width: auto;
        }
    }
}

#offcanvasMenuMobile{
    svg.fa-minus{
        display: none;
    }
    svg.fa-plus-large{
        display: block;
    }
    .submenu{
        max-height: 0;
        transition: max-height 0.40s ease-out;
        overflow: hidden;
    }
    .active{
        .submenu{
            max-height: 500px;
            transition: max-height 0.40s ease-in;
        }
        svg.fa-minus{
            display: block;
        }
        svg.fa-plus-large{
            display: none;
        }
        &>div:not(.submenu){
            a{
                font-weight: 800;
            }
        }
    }
}

.mt-custom-28,.mt-custom-25{
    @include media-breakpoint-down(xxxl) {
        margin-top: 37%;
    }
    @include media-breakpoint-down(lg) {
        margin-top: 70%;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 100%;
    }
}

.mw-50vw{
    max-width: calc(50vw);
}

.custom-mobile-menu-button{
    &:hover{
        background: inherit !important;
    }
    &:focus{
        box-shadow: none !important;
    }
    color: $white;
    .icon-light{
        display: inline-block;
    }
    .icon-dark{
        display: none;
    }
   &.menu-scrolled{
       color: $secondary;
       .icon-light{
        display: none;
        }
        .icon-dark{
            display: inline-block;
        }
   }
}

.espaciado-cabecera-landing{
    @include media-breakpoint-down(lg) {
        margin-top: 110px;
    }
}

.container-fluid-custom .swiper:before, .container-fluid-custom .swiper:after {
    @include media-breakpoint-down(lg) {
        display: none !important;
    }
}

.flor,.gota{
    @include media-breakpoint-down(md) {
        max-width: 100px;
    }
    @include media-breakpoint-down(sm) {
        max-width: 50px;
    }
}

.seccion_cols_imagenes{
    .columna-1{
        @include media-breakpoint-down(sm) {
            order: 2;
        }
    }
    .columna-2{
        @include media-breakpoint-down(sm) {
            order: 1;
        }
    }
}

.banner-redes {
    @include media-breakpoint-down(sm) {
        a:first-child {
            border: none;
        }
    }
}

.manantiales{
    .border-start{
        @include media-breakpoint-down(lg) {
            border: 0px !important;
        }
    }
    .border-end{
        @include media-breakpoint-down(lg) {
            border: 0px !important;
        }
    }
}

.sello-rotacion{
    @include media-breakpoint-down(sm) {
        max-width: 65vw !important;
    }
}

.sello{
    @include media-breakpoint-down(sm) {
        max-width: 50vw !important;
    }
}

.mw-custom-container{
    @include media-breakpoint-down(sm) {
        max-width: calc(100vw - 24px * 2);
        margin-left: auto;
        margin-right: auto;
    }
}

.mtn-custom-100{
    margin-top: -100%;
}

.border-x{
    @include media-breakpoint-up(lg) {
        border-left: solid;
        border-right: solid;
    }
    @include media-breakpoint-down(lg) {
        border-top: solid;
        border-bottom: solid;
    }
}

.translate-middle-espana{
    transform: translate(-50%, -75%) !important;
}

.translate-middle-lg-y{
    transform: translateY(-50%);
    @include media-breakpoint-down(lg) {
        transform: translateY(0%);
    }
}