.w-100vw{
    width: 100vw;
}
.w-50vw{
    width: 50vw;
}
.zi-100{
    z-index: 100;
}
.zi-50{
    z-index: 50;
}
.zi-75{
    z-index: 75;
}
.zi-1040{
    z-index: 1040;
}
.zi-1045{
    z-index: 1045;
}
.h-100vh{
    height: 100vh;
    // @include media-breakpoint-up(xxl) {
    //     max-height: 900px;
    // }
}

.filtros_buscador{
    .col{
        @include media-breakpoint-down(sm) {
            max-width: max-content !important;
        }
    }
}

.swiper-home-promocional{
    .col{
        @include media-breakpoint-down(sm) {
            max-width: max-content !important;
        }
    }
}

.swiper-home{
    min-height: 100vh;
}

.swiper-home-promocional{
    @include media-breakpoint-down(lg) {
        .size-full{
            max-height: 300px;
            width: auto;
        }
    }
}

#offcanvasMenuMobile{
    svg.fa-minus{
        display: none;
    }
    svg.fa-plus-large{
        display: block;
    }
    .submenu{
        max-height: 0;
        transition: max-height 0.40s ease-out;
        overflow: hidden;
    }
    .active{
        .submenu{
            max-height: 500px;
            transition: max-height 0.40s ease-in;
        }
        svg.fa-minus{
            display: block;
        }
        svg.fa-plus-large{
            display: none;
        }
        &>div:not(.submenu){
            a{
                font-weight: 800;
            }
        }
    }
}

.mt-custom-28{
    margin-top: 28%;
}

.mt-custom-25{
    margin-top: 25%;
}

.mt-custom-28,.mt-custom-25{
    @include media-breakpoint-down(xxxxl) {
        margin-top: 34%;
    }
    @include media-breakpoint-down(xxxl) {
        margin-top: 37%;
    }
    @include media-breakpoint-down(xl) {
        margin-top: 55%;
    }
    @include media-breakpoint-down(lg) {
        margin-top: 63%;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 100%;
    }
}

.mw-50vw{
    max-width: calc(50vw - 12px);
}

.background-position-left-mobile{
    @include media-breakpoint-down(lg) {
        background-position: left !important;
    }
}

.custom-mobile-menu-button{
    &:hover{
        background: inherit !important;
    }
    &:focus{
        box-shadow: none !important;
    }
    color: $white;
    .icon-light{
        display: inline-block;
    }
    .icon-dark{
        display: none;
    }
   &.menu-scrolled{
       color: $secondary;
       .icon-light{
        display: none;
        }
        .icon-dark{
            display: inline-block;
        }
   }
}

.espaciado-cabecera-landing{
    @include media-breakpoint-down(lg) {
        margin-top: 110px;
    }
}

.container-fluid-custom .swiper:before, .container-fluid-custom .swiper:after {
    max-height: 268px;
    @include media-breakpoint-down(xxxxl) {
        max-height: 210px;
    }
    @include media-breakpoint-down(xl) {
        width: calc(1/4*100%) !important;
        max-height: 359px !important;
    }
    @include media-breakpoint-down(lg) {
        display: none !important;
    }
}

.flor,.gota{
    @include media-breakpoint-down(md) {
        max-width: 100px;
    }
    @include media-breakpoint-down(sm) {
        max-width: 50px;
    }
}

.seccion_cols_imagenes{
    .columna-1{
        @include media-breakpoint-down(sm) {
            &.columna-agua-essenzia{
                order: 1;    
                margin-bottom: 24px;
            }
            order: 2;
            &.columna-happy{
                order: 1;
            }
        }
        &.columna-happy{
            > img{
                height: 100%;
            }
        }
        @include media-breakpoint-down(sm) {
            &.columna-fuente-primavera{
                order: 1;    
            }
            order: 2;
        }
        @include media-breakpoint-down(sm) {
            &.columna-refresco-essenzia{
                order: 1;
            }
        }
    }
    .columna-2{
        @include media-breakpoint-down(sm) {
            &.columna-agua-essenzia{
                order: 2;    
            }
            order: 1;
        }
        @include media-breakpoint-down(sm) {
            &.columna-zero{
                order: 1;
                margin-bottom: 24px;    
            }
            order: 2;
        }
        @include media-breakpoint-down(sm) {
            &.columna-fuente-primavera{
                order: 2;    
            }
            order: 1;
            &.columna-refresco-essenzia{
                order: 2;
            }
        }
        &.columna-happy{
            order: 2;
        }
        @include media-breakpoint-down(sm) {
            &.columna-refresco-essenzia{
                order: 2;
            }
        }
    }
}

.banner-redes {
    @include media-breakpoint-down(sm) {
        a:first-child {
            border: none;
        }
    }
}

.manantiales{
    .border-start{
        @include media-breakpoint-down(lg) {
            border: 0px !important;
        }
    }
    .border-end{
        @include media-breakpoint-down(lg) {
            border: 0px !important;
        }
    }
}

.sello-rotacion{
    @include media-breakpoint-down(sm) {
        max-width: 65vw !important;
    }
}

.sello{
    @include media-breakpoint-down(sm) {
        max-width: 50vw !important;
    }
}

.mw-custom-container{
    @include media-breakpoint-down(sm) {
        max-width: calc(100vw - 24px * 2);
        margin-left: auto;
        margin-right: auto;
    }
}

.mtn-custom-100{
    margin-top: -100%;
}

.border-x{
    @include media-breakpoint-up(lg) {
        border-left: solid;
        border-right: solid;
    }
    @include media-breakpoint-down(lg) {
        border-top: solid;
        border-bottom: solid;
    }
}

.translate-middle-espana{
    transform: translate(-50%, -75%) !important;
    @include media-breakpoint-down(sm) {
        transform: translate(-50%, -70%) !important;
    }
}

.translate-middle-lg-y{
    transform: translateY(-50%);
    @include media-breakpoint-down(lg) {
        transform: translateY(0%);
    }
}

#preguntas-frecuentes{
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2369B3E7'%3E%3Cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3E%3C/svg%3E") !important; 
        transform: scale(.7) !important;
        @include media-breakpoint-down(sm) {
            position: absolute;
            right: 0;
            top: 24px;
        }
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2369B3E7'%3E%3Cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3E%3C/svg%3E") !important;
        @include media-breakpoint-down(sm) {
            position: absolute;
            right: 0;
            top: 24px;
        }
    }
}

.translate-custom-contacto-lg-y{
    transform: translateY(-70%);
    @include media-breakpoint-down(xxxl) {
        transform: translateY(-76%);
    }
    @include media-breakpoint-down(xxl) {
        transform: translateY(-76%);
    }
    @include media-breakpoint-down(xl) {
        transform: translateY(-84%);
    }
    @include media-breakpoint-down(lg) {
        transform: translateY(-233%);
    }
    @include media-breakpoint-down(md) {
        transform: translateY(-135%);
    }
    @include media-breakpoint-down(sm) {
        transform: translateY(-147%);
    }
}

.tx-n50{
    transform: translateX(-50%);
}

.w-card-mapa{
    max-width: 100vw;
    width: 400px;
    @include media-breakpoint-down(sm) {
        width: 300px;
    }
}

.icon-map-1,.icon-map-2,.icon-map-3,.icon-map-4{
    img{
        @include media-breakpoint-down(sm) {
            max-width: 48px;
        }
    }
    transition: opacity 0.40s ease-out;
    z-index: 9;
    &:hover{
        z-index: 99;
        .opacity-0{
            opacity: 1 !important;
            transition: opacity 0.40s ease-in;
        }
    }
}

.icon-map-1{
    @include media-breakpoint-down(lg) {
        .tx-n50 {
            transform: translateX(-25%) !important;
        }
    }
    @include media-breakpoint-down(md) {
        left: 65px;
        bottom: 70px;
        .tx-n50 {
            transform: translateX(-22%) !important;
        }
    }
    @include media-breakpoint-down(sm) {
        left: 40px;
        bottom: 50px;
    }
}

.icon-map-2{
    @include media-breakpoint-down(lg) {
        .tx-n50 {
            transform: translateX(-75%) !important;
        }
    }
    @include media-breakpoint-down(md) {
        left: 260px;
        bottom: 120px;
        .tx-n50 {
            transform: translateX(-71%) !important;
        }
    }
    @include media-breakpoint-down(sm) {
        left: 215px;
        bottom: 85px;
    }
}

.icon-map-3{
    @include media-breakpoint-down(lg) {
        .tx-n50 {
            transform: translateX(-100%) !important;
        }
    }
    @include media-breakpoint-down(md) {
        left: 335px;
        bottom: 165px;
        .tx-n50 {
            transform: translateX(-90%) !important;
        }
    }
    @include media-breakpoint-down(sm) {
        left: 265px;
        bottom: 125px;
        .tx-n50 {
            transform: translateX(-85%) !important;
        }
    }
}

.icon-map-4{
    @include media-breakpoint-down(lg) {
        .tx-n50 {
            transform: translateX(-100%) !important;
        }
    }
    @include media-breakpoint-down(md) {
        left: 310px;
        bottom: 290px;
        .tx-n50 {
            transform: translateX(-83%) !important;
        }
    }
    @include media-breakpoint-down(sm) {
        left: 235px;
        bottom: 215px;
        .tx-n50 {
            transform: translateX(-75%) !important;
        }
    }
}

.img-mapa{
    height: 100% !important;
    width: auto !important;
    max-width: inherit;
    min-height: 1296px;
    @include media-breakpoint-down(md) {
        min-height: 721px;
    }
    @include media-breakpoint-down(sm) {
        min-height: 570px;
    }
}

.zi-1{
    z-index: 1;
}

.position-lg-absolute{
    position:relative;
    @include media-breakpoint-up(lg) {
        position: absolute !important;
    }
}

.ano-timeline-left{
    @include media-breakpoint-down(lg) {
        &.ano-activo::before{
            width: 75px !important;
        }
    }
}

.ano-timeline-right{
    @include media-breakpoint-down(lg) {
        &.ano-activo::before{
            width: 75px !important;
        }
    }
}


.container-fluid-custom-banner{
    max-width: 1689px !important;
}

.bg-postion-x-right{
    background-position-x: right !important;
    @include media-breakpoint-down(lg) {
        background-position-x: center !important;
    }
}

.bg-postion-x-center{
    background-position-x: center !important;
}

.grid-3-ecolosofia{
    img{
        @include media-breakpoint-down(lg) {
            max-width: 100px;
        }
    }
}


.img-version-mobile{
    @include media-breakpoint-down(sm) {
        width: calc(100% - 24px);
        margin-left: 12px;
    }
}

.road-localizacion-desktop {
    .localizacion-final {
        top: 95px;
        left: 175px;
        @include media-breakpoint-up(xl) {
            left: 210px;
        }
        @include media-breakpoint-up(xxl) {
            left: 260px;
        }
        width: 50px;
        opacity:0;
        transition: all 0.5s ease;
        &.activo {
            opacity:1;
        }
    }
}

.road-localizacion-tablet {
    .localizacion-final {
        top: 95px;
        left: 280px;
        width: 50px;
        opacity:0;
        transition: all 0.5s ease;
        &.activo {
            opacity:1;
        }
    }
}

.road-localizacion-mobile {
    .localizacion-final {
        left: 115px;
        top: 50px;
        width: 40px;
        /*top: 20px;
        left: 50%;
        width: 50px;*/
        opacity:0;
        transition: all 0.5s ease;
        &.activo {
            opacity:1;
        }
    }
}

.svg-road-localizacion-r{
    &.active {
        path {
            animation: dashr 7s linear reverse 1;
        }
    }
    path {
        stroke-dasharray: 1510;
        stroke-dashoffset: 310;
    } 
    height: 100%;
    top: 45px;
    right: -21px;
    //1400PX
    @include media-breakpoint-down(xxl) {
        top: 38px;
        right: -71px;
        width: 90%;
        max-width: inherit !important;
    }
    //1200PX
    @include media-breakpoint-down(xl) {
        top: 47px;
        right: -108px;
        width: 102%;
        max-width: inherit !important;
    }
    //992PX
    @include media-breakpoint-down(lg) {
        width: 521px;
        max-width: 100% !important;
        right: -9px;
    }
    //768PX
    @include media-breakpoint-down(md) {
        width: 237px;
        top: 27px;
        right: -4px;
    }
    //576px
    @include media-breakpoint-down(sm) {
        right: -8px;
        top: 26px;
        width: 231px;
    }
}

@keyframes dashr {
    from {
        stroke-dashoffset: 310;
    }
    to {
        stroke-dashoffset: 1510;
    }
}

.svg-road-localizacion-l{
    &.active {
        path {
            animation: dashl 7s linear reverse 1;
        }
    }
    path {
        stroke-dasharray: 1510;
        stroke-dashoffset: 0;
    } 
    height: 100%;
    top: 12px;
    left: -21px;
    //1400PX
    @include media-breakpoint-down(xxl) {
        top: 4px;
        left: -74px;
        width: 103%;
        max-width: inherit !important;
    }
    //1200PX
    @include media-breakpoint-down(xl) {
        top: 15px;
        left: -103px;
        width: 118%;
        max-width: inherit !important;
    }
    //992PX
    @include media-breakpoint-down(lg) {
        width: 590px;
        max-width: 100% !important;
        top: 8px;
        left: -9px;
    }
    //768PX
    @include media-breakpoint-down(md) {
        width: 270px;
        top: 8px;
        left: 0px;
    }
    //576px
    @include media-breakpoint-down(sm) {
        width: 260px;
        top: 8px;
        left: 0px;
    }
}

@keyframes dashl {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1510;
    }
}


.contact-form-contacto{
    table{
        tbody{
            vertical-align: top;
        }
    }
    ::placeholder {
        color: $white;
        opacity: 0.5;
    }
    .wpcf7-response-output{
        color: white !important;
    }
    .wpcf7-list-item{
        margin: 0px;
        label{
            display: flex;
            align-items: center;
            span{
                font-size: 16px;
                margin-left: 16px;
            }
        }
    }
    .wpcf7-checkbox{
        .wpcf7-list-item-label{
            font-size: 12px !important;
        }
    }
    input[type="checkbox"] {
        display: flex;
        align-self: baseline;
        appearance: none;
        background-color: #fff0;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 24px;
        min-width: 24px;
        height: 24px;
        border: 1px solid #99A4A2;
        border-radius: 0.15em;
        position: relative;
    }    
    input[type="checkbox"]:checked{
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' viewBox='0 0 18 13' fill='none'%3E%3Cpath d='M15.6125 0C12.7552 2.99765 9.43613 6.46202 6.49917 9.5402L1.50682 5.10267L0 6.95561L5.80932 12.1248L6.62628 12.8564L7.38875 12.0583C10.4852 8.80986 14.1644 4.97228 17.2646 1.71989L15.6125 0Z' fill='white'/%3E%3C/svg%3E");
    }
    option{
        border-radius: 0px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $secondary !important;
    }
    input[type='text'],input[type='email'],select{
        margin-top: 2px;
        &:focus-visible{
            outline: none !important;
        }
        width: 100%;
        --bs-bg-opacity: 1;
        background-color: transparent !important;
        border-radius: 0px;
        color: $white;
        padding-left: 0 !important;
        padding-top: 0 !important;
        border: 0 !important;
        border-bottom: 1px solid #dee2e6 !important;
        font-size: 19px;
        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }
    label{
        width: 100%;
        font-size: 14px !important;
        margin-bottom: 0.25rem !important;
        color: $white;
    }
    input[type='submit']{
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        background-color: $primary;
        padding: 8px 42px;
        border: none;
        margin-left: auto;
        display: inherit;
    }
    input[type='file']{
        display: none;
    }
    .file-76{
        margin-top: 8px;
        position: relative;
        height: 40px;
        display: block;
        &.file-selected{
            &:before{
                content: 'Archivo seleccionado';
                opacity: 1;
                color: #69fa1a;
            }
        }
        &:not(.file-selected){
            &:before{
                content: 'Ningún archivo seleccionado';
            }
        }
        &:before{
            font-size: 18px;
            font-weight: 400;
            border-bottom: 1px solid white;
            padding: 8px;
            position: absolute;
            height: 100%;
            width: 70%;
            right: 0;
            opacity: 0.5;
            background: transparent;
            @include media-breakpoint-down(sm) {
                width: 65%;
                font-size: 13px;
                padding: 6px;
            }
        }
        &:after{
            font-size: 14px;
            font-weight: 500;
            content: 'Seleccionar';
            text-transform: uppercase;
            padding: 8px;
            border: 2px solid white;
            position: absolute;
            height: 100%;
            width: 30%;
            left: 0;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-down(sm) {
                width: 35%;
                font-size: 12px;
                padding: 6px;
            }
        }
    }
}

.effect-text-contacto{
    position: relative;
    &:after{
        content: '';
        background: linear-gradient(180deg, rgba(0, 45, 114, 0) 8.3%, #002D72 75.19%);
        height: 20px;
        width: 95%;
        position: absolute;
        bottom: 0;
        //opacity: 0.5;
        left: 0px;
    }
    &>div{
        &::-webkit-scrollbar-track {
            background: #5472A1 !important;
            border-radius: 20px; 
            opacity: 0.5;        
        }
        &::-webkit-scrollbar {
            border-radius: 20px; 
            width: 4px !important;               
        }
        &::-webkit-scrollbar-thumb {
            background-color: blue;    
            border-radius: 20px;      
            border: 3px solid $primary;  
          }
        max-height: 55px;
        overflow-y: scroll;
    }
}

.spacer-custom{
    display: block;
    margin-bottom: 40px;
}

.custom-mapa-road-mobile{
    @include media-breakpoint-down(sm) {
        max-width: 312px;
        margin: auto;
    }
}

.zi-999{
    z-index: 999;
}

.page-template-custom-template-politicas{
    a{
        word-break: break-word;
    }
}

//FONT NATURA
.postid-209{
    .background-font-natura,.bg-custom-image{
        @include media-breakpoint-up(xxxxl) {
            background-repeat: no-repeat !important;
            background-size: 100% 100% !important;
        }
    }
}

.banner-producto{
    background-position: center;
}

.top-custom-entorno{
    top: 40%;
    @include media-breakpoint-down(lg) {
        top: 45%;
    }
}

.bg-mobile-banner-marcas{
    @include media-breakpoint-down(lg) {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/wp-content/uploads/2022/03/bg-banner-marcas-mobile.png') !important;
    }
}

/*html *:not(.contenedor-cursor-custom){
    cursor: url('/wp-content/uploads/2022/04/cursor.svg'), auto;
}*/


.svg-under-sellos{
    .g-reverse{
        transform: scale(-1, 1);
    }
    .reverse{
        transform: rotate(180deg) scale(-1,1);
        transform-origin: 0% 50%;
    }
    g{
        &.rotate{
            animation: custom_rotate 1.5s linear;
            animation-fill-mode: forwards;
        }
        &.tool-rotate{
            transform-origin: 0% 50%;
            transition: all 1.5s linear;
        }
    }
    /*
    .green-color{
        circle{
            &.circle-one{
                opacity: 1;
                stroke: $green;
                fill: $green;
                animation: color-one 3s linear;
            }
            &.circle-two{
                opacity: 1;
                stroke: $green;
                fill: $green;
                animation: color-two 3s linear;
            }
        }
        path{
            &.line{
                stroke: $green;
                stroke-dasharray: 1510;
                animation: undersellos 3s linear;
            }
            &.text-one{
                opacity: 1;
                stroke: $green;
                fill: $green;
                animation: color-one 3s linear;
            }
            &.text-two{
                opacity: 1;
                stroke: $green;
                fill: $green;
                animation: color-two 3s linear;
            }
        }
    }
    */
}

@keyframes color-one {
    0% {
        opacity: 0.5;
        stroke: $white;
        fill: $white;
    }
    49% {
        opacity: 0.5;
        stroke: $white;
        fill: $white;
    }
    50% {
        opacity: 1;
        stroke: $green;
        fill: $green;
    }
}
@keyframes color-two {
    0% {
        opacity: 0.5;
        stroke: $white;
        fill: $white;
    }
    24% {
        opacity: 0.5;
        stroke: $white;
        fill: $white;
    }
    25% {
        opacity: 1;
        stroke: $green;
        fill: $green;
    }
}
@keyframes undersellos {
    0% {
        stroke-dashoffset: -1110;
    }
    100% {
        stroke-dashoffset: 310;
    }
}

#sliderPromocional{
    .title{
        i{
            margin-right: 12px;
            margin-left: 12px;
        }
        @include media-breakpoint-up(xxxxl) {
            height: 50px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: left; 
        }
    } 
    .description{
        @include media-breakpoint-up(xxxxl) {
            height: 112px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: left; 
        }
    } 
}

body.single-landing{
    overflow-x: hidden;
}

.wpml-ls-item{
    .nav-link.animation-undertext{
        &:after{
            display: none !important;
        }
        &:before{
            position: absolute;
            content: '';
            left: 100%;
            top: 50%;
            transform: translateY(-55%);
            width: 15px;
            height: 15px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z' fill='%23002D72'/%3E%3C/svg%3E");
        }
    }
}

.group-one,.group-two{
    &:hover{
        .text-one,.text-two{
            &:hover{
                stroke: $primary !important;
                fill: $primary !important;
            }
        }
        .circle-one,.circle-two{
            stroke: $primary !important;
            fill: $primary !important;
        }
    }
}

.postid-206{
    .swiper-landing-productos{
        .bg-custom-post{
            transform: scale(1.02);
        }
    }
}

//ANIMATION
.custom-body,.sello,.h1.text-green,.dot-static.active,.dot{
    opacity: 1;
    transition: all 0.5s linear;
}

.rotate,.static-rotate{
    transition: all 1s linear;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

g.text{
    .group-one,.group-two{
        &:hover{
            .text-one,.text-two{
                &:hover{
                    stroke: $green !important;
                    fill: $green !important;
                }
            }
        }
    }
}

.dot,.dot-static{
    &.active{
        fill: #6dd400 !important;
    }
}

#sliderPromocional{
    svg{
        &.white{
            filter: brightness(0) invert(1);
        }
    }
    .pagination-home-promocional{
        &.white{
            svg{
                filter: brightness(0) invert(1);
            }
        }
    }
    .bg-custom-image{
        @include media-breakpoint-up(lg) {
            background-size: 120% !important;
        }
    }
}

html *:not(.contenedor-cursor-custom),
html *:not(.contenedor-cursor-custom):focus,
html *:not(.contenedor-cursor-custom):hover
{
    cursor: none !important;
}

.new-cursor-custom{
    //filter: invert(1);
    position: absolute;
    width: 45px;
    height: 33px;
    transform: translateX(-10px);
    display: none;
    pointer-events: none;
    z-index: 1;
    font-weight: 800;
    z-index: 9999999;
    //mix-blend-mode: multiply;
    mix-blend-mode: difference;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='33' viewBox='0 0 45 33' fill='none'%3E%3Cpath d='M12.5931 2.43623L12.2158 2.53172V2.92095C12.2158 3.3151 12.4481 3.5643 12.5554 3.67937C12.5584 3.68252 12.5612 3.68556 12.5639 3.68851C12.6063 3.73402 12.6306 3.76281 12.644 3.77898C12.6425 3.85518 12.6376 3.93522 12.6314 4.02522C12.6304 4.03966 12.6293 4.05447 12.6283 4.06958C12.6217 4.16202 12.6144 4.26609 12.6112 4.36984C12.6036 4.61574 12.6167 4.9062 12.7291 5.20978L12.73 5.2122C13.1295 6.27356 13.1195 7.42464 12.375 8.14117C9.83066 10.4433 7.60242 12.9728 5.75244 16.002L5.75243 16.002L5.75046 16.0053C3.12962 20.3715 1.71777 25.7159 1.50045 30.8304L1.49502 30.9583L1.55171 31.073C1.5594 31.0886 1.56195 31.0943 1.56553 31.1023C1.56937 31.1109 1.5744 31.1222 1.58824 31.1511C1.59629 31.168 1.60855 31.193 1.62343 31.219C1.63388 31.2373 1.66543 31.2922 1.71798 31.3454C1.73809 31.3657 1.96867 31.5983 2.28922 31.4568C2.42175 31.3983 2.49201 31.3012 2.52321 31.2486C2.5559 31.1934 2.57194 31.1432 2.57985 31.1146C2.59334 31.0658 2.60017 31.0144 2.60363 30.9676C3.77222 28.4004 5.50634 25.1719 7.64714 22.3704C10.1553 19.1295 12.6397 16.2985 15.7447 14.0078C16.1567 13.7045 16.7089 13.6823 17.2312 13.9009C19.7871 15.0522 21.0638 16.6288 22.6507 18.5886C22.7795 18.7477 22.9103 18.9092 23.044 19.0732L23.0439 19.0733L23.0523 19.0832C24.0875 20.2882 24.8706 21.6052 25.6681 23.1121C26.5012 24.7053 26.921 26.2107 27.3858 27.877C27.4418 28.0777 27.4984 28.2807 27.5564 28.4865C27.5877 28.6069 27.6517 28.7433 27.7715 28.8499C27.9021 28.966 28.1167 29.0528 28.3533 28.9729C28.5694 28.9 28.682 28.728 28.7342 28.6033C28.7888 28.4728 28.8073 28.3306 28.8073 28.1941C28.8073 25.4286 27.9918 23.014 27.1049 20.6034C28.6926 21.6554 30.3433 22.7391 32.2573 23.4018C32.8028 23.622 33.4667 23.847 34.0375 23.9636C34.1178 23.9831 34.2059 23.9966 34.2898 24.0025C34.3682 24.008 34.4877 24.0104 34.6049 23.9808C34.6588 23.9672 34.7729 23.9324 34.8745 23.8349C35.0062 23.7085 35.0703 23.5196 35.0269 23.3275C34.9936 23.1802 34.9082 23.0821 34.8633 23.0359C34.819 22.9904 34.7699 22.9512 34.7224 22.9175C34.4887 22.7166 34.2298 22.556 33.9487 22.3936C33.8494 22.3363 33.7481 22.2791 33.6422 22.2194C33.4278 22.0984 33.1944 21.9667 32.9191 21.8004C32.1161 21.3153 31.0037 20.5618 29.3954 19.148C28.439 18.2335 27.5635 17.3439 26.8465 16.3082C26.1063 15.1841 25.4717 14.1135 24.8362 12.934L24.8362 12.934L24.8331 12.9284C24.4098 12.1667 24.1609 11.3577 23.907 10.5327C23.89 10.4773 23.8729 10.4218 23.8558 10.3663L23.8517 10.353L23.8469 10.34C23.6002 9.67413 23.8633 8.92175 24.4192 8.62165L24.4193 8.62175L24.4283 8.61665C27.0474 7.13199 29.7266 6.33151 32.6133 5.57394L32.6134 5.57397L32.6189 5.57245C36.3165 4.55653 39.8627 4.17946 43.8047 4.01741C43.9172 4.01543 44.0239 3.9881 44.1124 3.9494C44.1868 3.91687 44.3356 3.83873 44.4279 3.67519C44.482 3.57935 44.5238 3.43768 44.4849 3.27613C44.4473 3.11978 44.3515 3.01742 44.2747 2.95912C44.1656 2.87627 44.0384 2.83799 43.9345 2.81773C39.8545 1.06656 35.4059 0.358732 30.9677 0.52309L30.9677 0.522897L30.9538 0.523797C26.7144 0.798881 22.9538 1.73601 19.0879 3.60994L19.0879 3.60987L19.0802 3.61375C19.0297 3.63932 18.979 3.66576 18.9279 3.69237C18.7297 3.79562 18.5265 3.90151 18.3113 3.96957C18.0368 4.05642 17.8995 4.02869 17.827 3.9773L17.8205 3.97271L17.8139 3.96832C17.6386 3.85231 17.465 3.73202 17.2928 3.61275C16.8319 3.29343 16.3815 2.98139 15.9378 2.77819C15.2761 2.4752 14.5771 2.37818 13.7088 2.65516C13.6972 2.65198 13.6474 2.63813 13.5036 2.57343C13.4972 2.57057 13.4906 2.56756 13.4837 2.56443C13.3138 2.48752 12.9828 2.33763 12.5931 2.43623ZM43.7574 3.80274C43.7573 3.80279 43.7554 3.80234 43.7519 3.80119C43.7558 3.80211 43.7575 3.80268 43.7574 3.80274Z' fill='%23ffd798' stroke='%23ffd798'/%3E%3C/svg%3E");
    //background: url(/wp-content/uploads/2022/04/cursor.svg);
    transition: transform 0.1s linear;
}

.cursor-custom{
    transition: opacity 0.2s linear;
}