.bg-parallax {
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position-x: center!important;
}


.white-line-timeline {
  width:1px;
  height: 0px;
  background-color: white;
  position: absolute;
  left: calc(50% + 0.5px);
  transform: translateX(-50%);
  top: -150px;
  z-index: 100;
  @include media-breakpoint-down(sm) {
    left: 11px;
    width: 1px;
    transform: none;
  }
}


.fresa-bloque-texto-con {
  z-index: 9;
} 


.cortinilla-swiper {
  width: 100%;
  height: 100%;
  
  &.recogida {
    transition: all 1s ease-in-out;
    height: 0%;
    @include media-breakpoint-up(md) {
      height: 100%;
      width: 0%;
    }
  }
  > div {
    @include media-breakpoint-down(md) {
      height: 100%;
      > div {
        height: 100%;
      }
    }
    @include media-breakpoint-up(md) {
      width: 100vw;
    }
  }
}

.swiper-home-promocional {
  @include media-breakpoint-down(md) {
    .swiper-slide {
      height: auto;
      .wrapper-slide {
        height: 100%;
      }
    }

  }
  &.swiper-slide.pe-none {
    * {
      pointer-events: none;
    }
  }
}



.overflow-x-clip {
  overflow-x: clip;
}