.bg-parallax {
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position-x: center!important;
}


.white-line-timeline {
  width:1px;
  height: 0px;
  background-color: white;
  position: absolute;
  left: calc(50% + 0.5px);
  transform: translateX(-50%);
  top: -150px;
  z-index: 100;
}


.fresa-bloque-texto-con {
  z-index: 9;
} 