// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap5/_variables.scss, paste it here and edit the value.
// Remember that to customize base color values and main variables, you can just launch the WordPress Customizer.

// SOME EXPERIMENTS for your quick testing:
//$primary:teal;
//$body-bg: darkgrey;

//ENABLE NEGATIVE MARGIN UTILITY CLASSES
$enable-negative-margins: true;

// Font family
$font-family-base: 'Gotham';

//CUSTOMIZE UTILITIES VIA UTILITIES API
$utilities: (
  "min-viewport-height": ( //ADD min-vh CLASSES
    property: min-height,
    class: min-vh,
    responsive: true,
    values: ( 
      25: 25vh,
      50: 50vh,
      75: 75vh,
      100: 100vh,
    )
  ),
   
);

//CUSTOM SPACING UP TO 8
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: ($spacer * 4.5),  //added
  7: ($spacer * 6), //added
  8: ($spacer * 0.5), //added
  10: ($spacer * 0.625), //10px
  12:  ($spacer * 0.75), // 12px
  16:  ($spacer * 1), // 16px
  18:  ($spacer * 1.125), // 18px
  20:  ($spacer * 1.25), // 20px
  24:  ($spacer * 1.5), // 24px
  28:  ($spacer * 1.75), // 28px
  30:  ($spacer * 1.875), // 30px
  32:  ($spacer * 2), // 32px
  36:  ($spacer * 2.25), // 36px
  40:  ($spacer * 2.5), // 36px
  48:  ($spacer * 3), // 48px
  56:  ($spacer * 3.5), // 48px
  64:  ($spacer * 4), // 64px
  70:  ($spacer * 4.375), // 70px
  80:  ($spacer * 5), // 80px
  90:  ($spacer * 5.625), // 90px
  96:  ($spacer * 6), // 96px
  112:  ($spacer * 7), // 112px
  120:  ($spacer * 7.5), // 120px
  138: ($spacer * 8.625), // 138px
  150: ($spacer * 9.375), // 150px
  160: ($spacer * 10), // 160px
  176: ($spacer * 11), // 176px
  192: ($spacer * 12), // 192px
  218: ($spacer * 13.625), // 218px
  256: ($spacer * 16), // 256px
) !default;

// Font size base
$font-size-base: 1rem !default;

// Encabezados
$h1-font-size: $font-size-base * 4.5 !default; // 72px
$h2-font-size: $font-size-base * 4 !default; // 64px
$h3-font-size: $font-size-base * 3 !default; // 48px
$h4-font-size: $font-size-base * 2.5 !default; // 40px
$h5-font-size: $font-size-base * 2 !default; // 32px
$h6-font-size: $font-size-base * 1.125 !default; // 18px

// Font sizes
$font-sizes: (
 1:  $h1-font-size,
 2:  $h2-font-size,
 3:  $h3-font-size,
 4:  $h4-font-size,
 5:  $h5-font-size,
 6:  $h6-font-size,
 12: $font-size-base * 0.75,
 13: $font-size-base * 0.813,
 14: $font-size-base * 0.875,
 16: $h6-font-size,
 18: $font-size-base * 1.125,
 20: $font-size-base * 1.25,
 22: $font-size-base * 1.375,
 24: $font-size-base * 1.5,
 26: $font-size-base * 1.625,
 32: $font-size-base * 2,
 36: $font-size-base * 2.25,
 45: $font-size-base * 2.813,
 64: $font-size-base * 4,
 96: $font-size-base * 6,
) !default;

$headings-font-weight: 800 !default;

$enable-rfs: false;
 
$primary            : #69B3E7 !default;
$primary-darker     : #2A485C !default;
$primary-dark       : #3F6B8B !default;
$primary-light      : #548FB9 !default;
$primary-lighter    : #A5D1F1 !default;
$primary-bright     : #C3E1F5 !default;
$primary-brighter   : #E1F0FA !default;
$secondary          : #002D72 !default;
$secondary-darker   : #001B44 !default;
$secondary-dark     : #002050 !default;
$secondary-light    : #002867 !default;
$secondary-light-disable : #00286720 !default;
$secondary-lighter  : #6681AA !default;
$secondary-bright   : #99ABC7 !default;
$secondary-brighter : #CCD5E3 !default;
$section-noticias: #F8F8F8 !default;

$white : #ffffff;
$black : #000000;
$green : #6DD400;
$grey : #C4C4C4;

$theme-colors: (
  "primary"         : $primary,
  "primary-darker"  : $primary-darker,
  "primary-dark"    : $primary-dark,
  "primary-light"   : $primary-light,
  "primary-lighter" : $primary-lighter,
  "primary-bright"  : $primary-bright,
  "primary-brighter" : $primary-brighter,
  "secondary"         : $secondary,
  "secondary-darker"  : $secondary-darker,
  "secondary-dark"    : $secondary-dark,
  "secondary-light"   : $secondary-light,
  "secondary-light-disable" : $secondary-light-disable,
  "secondary-lighter" : $secondary-lighter,
  "secondary-bright"  : $secondary-bright,
  "secondary-brighter" : $secondary-brighter,
  "white" : $white,
  "black" : $black,
  "green" : $green,
  "grey" : $grey,
  "section-noticias" : $section-noticias
);

//BTN PADDING CUSTOM
$btn-padding-x: 24px;
$btn-padding-y: 8px;

//NAV LINKS CUSTOM
$nav-link-hover-color:              $secondary !default;
$nav-pills-link-active-color:       $secondary !default;
$nav-link-color: $secondary-light-disable !default;
$nav-pills-link-active-bg:          inherit !default;

//FONT WEIGHT CUSTOM
$font-weight-bold:            800 !default;