// Fuentes personalizadas
// Para generar las fuentes se pueden usar alguna de estas plataformas, no cargar desde el CDN de Google Fonts por que va a empezar a penalizar el uso de CDN's.
// https://transfonter.org/ | https://www.fontsquirrel.com/tools/webfont-generator


@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-Thin.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../webfonts/Montserrat-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

